*{
	padding: 0;
	margin: 0;
	font-family: 'Pontano Sans', sans-serif;
}

a{
	text-decoration: none;
}
	a:hover, a:focus, a:active, a:visited{
		outline: none;
		text-decoration: none;
		color: #fff;
	}

body{

}


/* header */
header{
	background: #FFF;
	height: 130px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 10px;
	z-index: 2;
}
	.header-logo{
		height: 130px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.header-contact{
		height: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		.header-item-contact{
			float: left;
			margin: 0 10px;
		}
			.header-item-icon{
				float: left;
				margin-right: 10px; 
			}
			.header-item-text{
				min-width: 200px;
			}
				.header-item-text span{
					font-size: 12px;
					display: block;
					line-height: 12px;
				}
				.header-item-text b{
					font-weight: bold;
					font-size: 20px;
				}
				.fone{
					color: #96989a;
				}
				.wpp{
					color: #00a859;
				}

	.header-social{
		height: 130px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
		.header-social a{
			margin: 0 5px;
		}
/*menu*/
.menu-header{
	justify-content: flex-start;
	align-items: center;
	border-top: 1px solid;
	border-color: #c9cbce;
	font-size: 18.5px;
	text-transform:  uppercase;
}
	.menu-header a{
		color: #96989a !important;
	}
	.menu-pages{
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 5px;
		line-height: 3;
	}
	.menu-pages a{
		/* display: block; */
	}
	.one{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #ab59b1;
	}
	.two{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #b17ed6;
	}
	.three{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #c79be6;
	}
	.four{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #dbabfb;
	}
	.five{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #f5c7f9;
	}
	.six{
		border-top: 10px solid #fff!important;
		border-bottom: 10px solid;
		border-color: #f3dbf5;
	}
/* titles */
.header-page{
	margin-bottom: 40px;
	text-align: justify;
}
.title-page{
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Ropa Sans', sans-serif;
	text-transform: uppercase;
	border-bottom:  1px solid #EBEBEB;
}
	.sub-title{
		font-family: 'Ropa Sans', sans-serif;
		margin-bottom: 30px;
		text-transform: uppercase
	}
	.line-divide{
		border-top: 1px solid #EBEBEB;
		margin: 30px;
	}

/* slideshow */
.slideshow{
	position: relative;
	z-index: 1;
}
	/* owl carousel custom style */
	.owl-theme .owl-nav.disabled + .owl-dots{
		margin-top: 0;
		position: relative;
		top: -45px;
		margin-bottom: -25px;
	}
		.owl-theme .owl-dots .owl-dot span{
			background: none;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			transition: .3s;
			border: 1px solid #fff;
		}	
			.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
				background: #fff;
				width: 13px;
				height: 13px;
			}

/* change websites */
.change-website{

}
	.change-website-item{
		background: #08babe;
		color: #fff;
		padding: 30px 0;
		opacity: 0.75;
		transition: .3s;
	}
		.change-website-item:hover{
			opacity: 1;
		}
		.change-website-item-special{
			background: #ac76b0;
		}
	
	.change-website-item img{
		display: inline;
		margin-right: 12px;
	}

	.change-website-item a{
		color: #fff;
		display: block;
		font-size: 22px;
		text-transform: uppercase;
	}
/* unidades */
.tab {
    float: left;
    border: 1px solid #F5C7F9;
    background-color: #ffffff;
    height: auto;
}
	.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}
		.tab button:hover {
	    background-color: #AC76B0;
	    color: white;
	}
		.tab button.active {
    background-color: #AC76B0;
    color: white;
	}
.tabcontent {
    float: left;
    padding: 0px 0px;
    border: 1px solid #F5C7F9;
    width: 100%;
    height: auto;
 }
.work{
	color: #96989A;
	margin-top:  40px;
	text-align:  justify;
}
	.content-unit{
		margin-left: 0px;
	}
		.color{
			color: #9C6E9F;
		}
		.information{
		    flex: 1;
		    align-self: flex-end;
		    line-height: 2;
		}
			.icons{
				list-style: none;
			}
	.content-general{
		margin-left: 15px;
	}
	.content-general p{
		margin-bottom: 5px !important;
	}

/* contact */

/* footer */
footer{
	text-align: center;
	background: #757474;
	color: #fff;
	padding: 20px 0;
	margin-top: 41px;
}
	footer a{
		color: #fff;
	}
		footer a:hover{
			color: #08babe;
		}

/* 768 */
@media screen and (max-width: 768px){
	header{
		height: auto;
	}
		.header-logo{
			height: auto;
			justify-content: center;
			padding: 15px 0 10px 0;
		}

		.header-contact{
			height: auto;
			padding: 15px 0;
		}

		.header-social{
			height: auto;
			padding: 10px 0;
			justify-content: center;
		}
}

/* 450 */
@media screen and (max-width: 450px){
	.header-contact{
			height: auto;
			padding: 15px 0;
			display: block;
			text-align: center;
		}
			.header-item-contact{
				float: none;
				margin-bottom: 10px;
			}
				.header-item-icon{
					float: none;
					margin-bottom: 3px;
				}

	.owl-theme .owl-nav.disabled + .owl-dots{
		display: none;
	}
}